header {
      height: 70px;
}

header img:last-child {
      width: 40px;
}

header .my-search-bar > * {
      background-color: #e5e5e5;
}

header .my-search-bar input::placeholder {
      font-size: 0.75rem;
      transform: translate3d(0, -0.2rem, 0);
}

header #bell {
      color: #ff8f00;
}

aside {
      height: calc(100vh - 70px);
      background-image: url("../img/sidebar-bg.png");
      background-color: #051e34;
      font-size: 0.9rem;
}

aside a:hover {
      background-color: rgba(255, 255, 255, 0.5) !important;
}

.aside-icon {
      width: 18px;
}

main {
      overflow: auto;
      height: calc(100vh - 70px);
}

.main-header, .main-cards .faq {
      font-size: 0.9rem;
}

.main-header .badge {
      background-color: #165bba;
}

.main-cards {
      font-size: 0.8rem;
}

table img {
      width: 26px;
}

table button {
      width: 32px;
      height: 32px;
}
