

/* DEBUG  */
      .border {
            border: 2px dashed black;
      }

      .box {
            background-color: aquamarine;
      }

      .box2 {
            background-color: yellow;
      }