
header .row {
      height: 60px;
}

header .my-search-bar > * {
      background-color: #e5e5e5;
}

#bell {
      color: #ff8f00;
}

/* DEBUG  */
      .border {
            border: 2px dashed black;
      }

      .box {
            background-color: aquamarine;
      }

      .box2 {
            background-color: yellow;
      }